name: Build LaTeX document
on:
  push:
    branches:
      - main
    paths:
      - '**.tex'
      - '**.cls'
  workflow_dispatch:
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
        with:
          ref: build
          fetch-depth: 0
      - name: Reset build to origin/main
        run: git reset --hard origin/main
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          latexmk_use_lualatex: true
      - name: Remove everything except build
        run: |
          find . ! -name 'main.pdf' ! -path '*/.*' -type f -exec rm -f {} +
          mv main.pdf LEPL1202-APP1-B.pdf
      - name: Push latest build to build branch
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Build latex document"
          push_options: "--force"
